@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --themeColor: #be1e2d;
  --navColor: #f34b5c;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font {
  font-family: "Satisfy";
}
.subfont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
}
.heading1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
}
.heading2 {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.link:hover {
  color: var(--themeColor);
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}
.link-nav {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.link-nav:hover {
  color: var(--navColor);
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
}
#basic-nav-dropdown {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
#basic-nav-dropdown:hover {
  color: var(--navColor);
  text-decoration: none;
  cursor: pointer;
}

.form-field {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.form-field:hover {
  color: var(--themeColor);
  text-decoration: none;

  font-size: larger;
}
.title {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.title:hover {
  color: var(--themeColor);
  text-decoration: none;

  font-size: xxx-large;
}
